* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-pro {
	@include main-pro;
}

.main-tec {
	@include main-tec;
}

.main-sol {
	@include main-sol;
}

.main-exp {
	@include main-exp;
}

.main-dir {
	@include main-dir;
}

.main-gov {
	@include main-gov;
}

.main-sup {
	@include main-sup;
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  #load {
    display: flex;
    flex-direction: row;    
    width: 420px;
    overflow: hidden;
  }
  
  #load-logo {
    margin-right: 10px;
    background-color: #f0f0f0;
  }

  .load-title {
    color: $main-grey;
    font-size: 48px;
    font-weight: 500;
    height: 56px;    
    padding: 0px 0 10px;
    display: flex;
    align-items: center;
    position: relative;
  }
}

#company-name {  
  margin-left: -172px;
  opacity: 0;
  z-index: -1;
  display: flex;

  &.final {
    margin-left: 0;
    opacity: 1;
    transition: 160ms cubic-bezier(0.4, 0.01, 0.2, 1) all;
    transition-delay: 400ms;
  }

  .cn-dot {
    height: 6px;
    width: 6px;
    margin: auto 3px 12px;
    background-color: $main-grey;
  }
}

#company-area {
  transition: 200ms ease-in-out all;
}